
.Header{
display: flex;
flex-direction: row;
}

.topLeft{
  flex:1
}

.Google{
  display: flex;
justify-content: center;
margin: 100px 100px 50px;
font-size: 70px;
}

.SearchBar{
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
}


ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

a{
  text-decoration: none;
  padding: 3px;
}

a:hover{
  text-decoration: underline;
}

.Footer{
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
}